body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.inner-body {
  margin-top: 250px;
  margin-left: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  width: 90%;
  margin-left: 5px;
}

.progress-bar {
  background-color: goldenrod;
}
.panel-title {
  font-size: 24px;
}

.panel-heading {
  background-color: darkred;
  color: white;
  margin: 5px;
}
.panel-body {
  background-color: #2c2c2d;
  color: lightgray;
  font-size: 18px;
}

.form-check-label {
  margin: 5px;
}

.btn {
  background-color: darkred;
}

.form-control {
  height: 30px;
}

#budget-holder {
  height: 1075px;
  background-color: white;
  color: darkred;
  margin-left: 50px;
}

#budget-amount {
  font-size: 30px;
}

.red {
  color: red;
}

.green {
  color: limegreen;
}

.per25 {
  width: 25%;
}

.per50 {
  width: 50%;
}

.per75 {
  width: 75%;
}

.per100 {
  width: 100%;
}